<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Book Recognition</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
   <div class="container">
      <h1>Book Recognition</h1>
      <video id="video" width="320" height="240" autoplay></video>
      <button id="capture">Capture</button>
      <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>
      <div id="result"></div>
   </div>
   <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>